* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1cfcf;
  color: #fff;
  font-family: "Alegreya", serif;
  width: 100vw;
  height: 100vh;
}


/* -----------------------------NAV------------------------------- */

header {
  position: sticky;
  top: 0;
}

.menu {
  background-color: #ffffff;
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 10vh;
  padding: 0.5em;
  position: relative;
  width: 100%;
}

.menu-icon{
  display: block;
  border: 1px solid #c91e1e;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
  font-size: 1.5em;
}

.logo {
  width: 5em;
  margin-left: 0em;
}

.menu-logo {
  display: flex;
  align-items: center;
  gap: 0px;
  color: #000000;
}

.menu_items{ 
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 0;
  overflow: hidden; 
  transition: height .3s linear;
} 

.menu__link {
display: block;
padding: 15px;
color: rgb(0, 0, 0);
text-decoration: none;
}

.menu__link:hover{
background: #f15561;
}

.menu__link--select {
background: #f15561;
}

.mostrar {
  height: 196px;
}

.menu-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9em;
}

.menu-inicio a {
text-decoration: none;
color: #000000;
}

/* ---------------------------------BANNER---------------------------------- */

.banner {
  padding: 0;
  width: 100vw;
  height: 25vh;
  background-color:#03989e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
} 

h1 {
  font-size: 3em;
}

/* -----------------------------PRODUCTOS INDEX------------------------------- */

.container-home div{ 
position: relative;
}

.container-home {
display: grid;
grid-template-rows: 1fr;
gap: 20px;
justify-content: space-around;
align-items: center;
margin: 4em;
grid-template-columns: auto;
}

.container-home img {
  max-width: 100%;
  height: auto;
  
}

.container-home img:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar con el mouse por encima */
  border-color: #525252; /* Cambia el color del borde al pasar con el mouse por encima */
}

.container-home p {
  display: grid;
  background-color: #03989e;
  color:#000000;
  justify-content:space-around;
  margin-top: 1em;
  font-size: 2em;
  align-items: center;
}


/* ------------------------PRODUCTOS-------------------------------- */

.prod-pages h2 {
  text-align: center;
  font-size: 3em;
  color: #ffffff;
} 

.container-prod h3 {
text-align: center;
font-size: 2em;
margin: 1em;
color: #032e4b;
}

.info-prod, .precio-prod {
text-align: center;
font-size: 1.5em;
}

.info-prod {
padding: 0.5em;
}

.precio-prod {
margin-bottom: 1em;
}

.prod img {
width: 70%;
height: auto;
border-radius: 10px;
}

.imgs-productos {
display: grid;
grid-template-columns: 1fr;
grid-gap: 100px; 
justify-items: center; 
align-items: center; 
margin: 3em;
}

.carrito {
color: #ffffff;
font-weight: 700;
background-color: #03989e;
width: 50%;
height: 2em;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.prod {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

/* ---------------------FORMULARIO REGISTRO------------------------------ */

.container-form {
padding: 1em;    
}

.container-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 2em;
}

.title-form {
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
  color: #deb887;
  text-decoration-line: underline;
}

.boton-form {
display: flex;
justify-content: center;
}

[type="submit" ] {
  background-color: #7fffd4;
  width: 15em;
  height: 3em;
  font-weight:700;
}


/* ------------------------------INICIO-SESIÓN--------------------------- */

.login {
  width: 100%;
  height: 60vh;
  display: grid;
  place-items: center;
}

.title-sesion {
margin: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #023927;
  padding: 2em;
  font-size: 1.2em;
}

.label-inicio {
font-size: 14px;
font-weight: bold;
margin-bottom: 4px;
}


.input-inicio {
background-color: #e8e8e8;
border: none;
cursor: pointer;
border-radius: 8px;
height: 32px;
padding: 6px;
margin-bottom: 2em;
font-size: 14px;
}

.login-button {
border-radius: 8px;
color: #fff;
border: none;
width: 100%;
cursor: pointer;
font-weight: bold;
height: 40px;
margin-top: 3em;
}

/* -----------------------------FOOTER------------------------------- */

footer {
  background-color: #1F1E1E;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 10px; 

}

footer a {
  color: inherit;
}

.icon-footer {
padding-bottom: 10px;
align-items: center;
}

.derechos {
margin-top: 15px;
} 

.footer-inicio-sesion {
position: absolute;
bottom: 0;
width: 100%;
}



/* ---------------------------------------------- RESPONSIVE-------------------------------------------- */

/* ------------------- CELULARES------------------------------------ */

@media(max-width: 767px){

  .leyenda-logo {
      display: none;
  }
  
  .leyenda-banner {
    display: none;
  }
  
  .titulo-tablet {
    display: none;
  }
  
  .title-footer {
    display: none;
  }

}


/* ------------------- TABLET ------------------------------------ */
@media(min-width: 768px) and (max-width: 1023px){

  .menu-logo {
    display: none;
  }
  
  .menu {
    background-color: #d1cfcf;
  }

  .menu-inicio{
    font-weight: 500;
  }

  .titulo-tablet {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .banner {
    background-color: #03989e;
    height: 20vh;
  }
  
  .leyenda-banner {
    font-size: 1.5em;
    font-weight: 400;
    padding: 1em;
  }
  
  h1 {
    display: none;
  }

  
  .container-home {
    margin: 4em;
  }

  .imgs-productos {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-form {
    width: 50%; 
    border: 10px solid #f005;
    margin: 3.5em auto;
  }

  .container-sesion h2 {
    margin-top: 2em;
  }
  
  footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }  
  
  .texto-footer {
    border: 1;
  }
  
  .icon-footer {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  footer h2 {
    margin: 0px;
  }

  
}

/* ------------------- PCS ------------------------------------ */

@media(min-width: 1024px){

.items {
  display: inline;
}

.menu {
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

#boton_menu {
    display: none;
  }

  .menu_items{
    position: static;
    overflow: visible;
    width: auto;
    height: auto;
    display: flex;
  }

  .menu__link {
    display: inline;
    padding: 10px;
  }
  
  .menu__link--select {
    background: transparent;
  }

  .titulo-tablet {
    display: none;
  }

  .menu-inicio {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-home {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4em;
}

.imgs-productos {
  grid-template-columns: repeat(3, 1fr);
}

.container-form {
  width: 40%;
  border: 10px solid #f005;
  margin: 0 auto;
}
}